 
.header{
  display: flex;
  flex-direction:row;
  height: 70px;
  justify-content:space-between;
  position: fixed;
  top:0%;
  right: 0%;
  left: 0%;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-color: rgb(221, 220, 220);
  border-bottom-style: solid;
  z-index: 2;
}
 
   .search-button{
    height: 41.5px;
    width:70px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(192, 192, 192);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 1px,2px,3px rgba(0,0,0,0.15);
    margin-left: -2px;

  }
 .search-bar{
    flex: 1;
    height: 38px;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 3px;
    transition: box-shadow 0.2s;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.15);
    width:0%;
  }

  .search-button:hover{
    opacity:0.8;
  }
 
  .search-bar::placeholder{
    font-size: 17px;
    font-family: Roboto;
    padding-left: 7px;
  }
  

  .search-icon{
    height:25px;
 
  }
  .srch-btn,.upload{
    position: relative;
  }
   .tooltip{
    position:absolute;
    background-color: grey;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
    bottom:-30px;
    right:0.5px;
    opacity:0;
    pointer-events: none;
    white-space: nowrap;
  
  }
  .srch-btn:hover .tooltip{
    opacity:1;
  }
  .voice-srch,.ytapp, .notifi, .profile{
    position: relative;
  }
  .voice-srch:hover .tooltip ,.upload:hover .tooltip, .ytapp:hover .tooltip, .notif:hover .tooltip, .profile:hover .tooltip{
    opacity:1;
  }
  .options-icon{
    height:27px;
    margin-left: 25px;
    margin-right: 20px;
    cursor: pointer;
  }
  .youtube-logo{
    height:20px;
    cursor: pointer;
  }

  .voice-button{
    height:39px;
    width: 39px;
    border-radius: 50px;
    margin-left: 17px;
    border: none;
    cursor: pointer;
  }
  .voice-icon{
    display: flex;
    align-items: center;
  }
  .upload-logo{
    height:30px;
    cursor: pointer;
  }
  .yt-apps{
    height:30px;
    cursor: pointer;
  }
  .notifications{
    height:30px;
    cursor: pointer;
  }
  .notification-count{
    position: relative;
  }
  .notify{
    position:absolute;
    background-color: rgb(200,0,0);
    color:white;
    font-family: Roboto;
    font-weight: 700;
    border-radius: 50px;
    height:15px;
    width:15px;
    display: flex;
    align-items:center ;
    justify-content: center;
    right:0.7px;
    top:0.7px;
    font-size: 12px;
  }
  .profile-picture{
    border-radius: 50%;
    height:40px;
    width:40px;
    cursor: pointer;
  }


.left-header{
  display: flex;
  align-items: center;
  
}
.middle-header{
  flex:1;
  margin-left: 80px;
  margin-right: 40px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right-header{
  display:flex;
  width:250px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0%;
  margin-right: 12px;
}
